.headline{
    font-size: 100px;
    color: #48cfae;
}
.main{
    font-size: 16px;
}

.timebar{
    font-size: 10em;
}
.timebar > div {
    color: white;
}
.timebar .timebar-wrapper {
    display: block;
    overflow: hidden;
    background-color: #5cb85c;
    border-radius: 5px 5px 0 0;
    line-height: 1;
    height: 30%;
    box-shadow: 5px 5px #48cfae;
    
}
.time.top {
    position: relative;
    top: 15%;
}
.timebar .time.bottom {
    position: relative;
    bottom: 85%;
}

@media (max-width: 40em){
    .main{
        font-size: .4em;
    }
}
